$navTextColor: white;
$navHeadColor: #18af7b;
$gray-lighter: #eee;
$text-indent: 12px;
$size-icon: 1.2em;
$border-radius: 4px;
$border-input: 1px solid #ccc;

.green, th {
  background-color: $navHeadColor;
  color: $navTextColor;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu {
  text-indent: $text-indent;
  li:hover {
    background-color: $gray-lighter;
    padding-left: 0;
  }
}

li img, button img {
  width: $size-icon;
  height: $size-icon;
  margin-right: 1em;
}

div.input-group-btn {
  button:hover {
    background: none;
    text-shadow: none;
  }
  a:hover {
    text-decoration: none;
    color: $navHeadColor;
  }
}

#btn-icon {
  margin-right: 0px;
  height: 32px;
  margin: 2px;
  border-radius: $border-radius;
}

.input-group {
  border: $border-input;
  border-radius: $border-radius;
  height: 34px;
  width: 100%;
}
.focused {
  border-color: #66aef9;
  outline: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,266,.6);
}

input[type="text"] {
  border: none;
  outline: none;
  -webkit-appearance: none;

}

.input-group-btn:last-child > .btn {
  margin-left: 0px;
  border: none;
  border-left: $border-input;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

