.green{
    background-color: #18af7b;
    color: white;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu {
    text-indent: 12px;
}

.dropdown-menu li:hover {
    background-color: #eee;
    padding-left: 0;
}

li img, button img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
}

div.input-group-btn button:hover {
    background: none;
    text-shadow: none;
}

div.input-group-btn a:hover {
    text-decoration: none;
    color: #18af7b;
}

#btn-icon {
    margin-right: 0px;
    height: 32px;
    margin: 2px;
    border-radius: 4px;
}

.input-group {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    width: 100%;
}
.focused {
    border-color: #66aef9;
    outline: 0px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,266,.6);
}

input[type="text"] {
    border: none;
    outline: none;
    -webkit-appearance: none;

}

.input-group-btn:last-child > .btn {
    margin-left: 0px;
    border: none;
    border-left: 1px solid #ccc;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}
