.green, th {
    background-color: #18af7b;
    color: white;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu {
    text-indent: 12px;
}

.dropdown-menu li:hover {
    background-color: #eee;
    padding-left: 0;
}

li img, button img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
}

div.input-group-btn button:hover {
    background: none;
    text-shadow: none;
}

div.input-group-btn a:hover {
    text-decoration: none;
    color: #18af7b;
}
