
<div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon">Vialotaions Date</span>
        <input type="text" class="form-control" placeholder="Date Start yyyy-mm-dd"
               ng-model="dateStart"
               aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Date End yyyy-mm-dd"
               ng-model="dateEnd"
               aria-describedby="basic-addon2">
                              <span class="input-group-addon input-group-btn">
        <button class="btn btn-default" type="button" ng-click="searchButton()">Go!</button>
      </span>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Violations date:</th>
            <th>Name:</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="name in names">
            <td>{{name[0] | date:'medium'}}</td>
            <td>{{name[1].name}}</td>
        </tr>
        </tbody>
    </table>

</div>